#listaModelos {
    list-style-type: none;
    width: 50vw;
    text-align: left;
}

.modeloCriadoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoesDataset {
    padding: 20px;
}